/* Поєднуємо іконки пунктів з текстом */
.horizontal-menu-item>*{
  display: inline-block;
}
.horizontal-menu-item-icon{
  width: calc(var(--logo-size) * 0.75);
  height: calc(var(--logo-size) * 0.75);
  background-image: url(/assets/icons/aside/arrow-right-bold-box.svg);
  vertical-align: middle;
}
.horizontal-menu-item-link{
  padding: 0 0.125rem 1rem; 
}