.btn-chat,
.chat{
  padding: 1.875rem;
  position: fixed;
  right: 20px;
  z-index: 2;
}
.btn-chat{
  border-radius: 50%;
  background-color: var(--color-green);
  background-image: url(/assets/icons/chat/chat-processing.svg);
  bottom: 30px;
}
.chat{
  background-color: var(--color-green);
  /* 
    Чат вилітає знизу до гори через 
    pos-bottom+backInUp, початкова позиція 
  */
  bottom: -100vh;
}
.btn-chat:hover+.chat{
  bottom: 100px;
  animation: backInUp;
  animation-duration: 0.5s;
}