/* Елемент, на який робимо підсказку */
.tooltip {
  display: inline-block;
  position: relative;
}
/* Підсказка */
.tooltip .tooltip-up{
  visibility: hidden;
  padding: 0.625rem 0.625rem;
  color: #fff;
  background-color: var(--color-darkgrey);
  font-size: 0.8rem;
  text-align: center;
  transform: translateX(-50%);
  position: absolute;
  top: 110%;
  left: 50%;
  z-index: 1;
}
/* Cтрілочка вгору */
.tooltip .tooltip-up::after{
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--color-darkgrey) transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
/* Відображаємо підсказку при наведенні */
.tooltip:hover .tooltip-up{
  visibility: visible;
}